<div>
<pre class="card card-block card-header">Birthday is: <em *ngIf="dt">{{ getDate() | date:'fullDate' }}</em></pre>
<datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true"></datepicker>
</div>
